@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  bottom: 0;
  font-family: "Titillium Web", sans-serif;
  color: white;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 0px 0px;
  overflow: hidden;
  display: flex;
}

.container {
  background-color: #596e73;

  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  min-height: 0;
}

.renderCanvas {

  touch-action: none;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  min-height: 0;
}

.input_video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.input_video.selfie {
  transform: scale(-1, 1);
}

.canvas-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.output_canvas {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backface-visibility: hidden;
  opacity: 1;
  transition: opacity 1s;
}

.loading .message {
  font-size: x-large;
}

.loading .spinner {
  position: absolute;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  border: 32px solid #bebebe;
  border-top: 32px solid #3498db;
  border-radius: 50%;
}

.loaded .loading {
  opacity: 0;
}